.welcome {
  box-sizing: border-box;
  background-color: black;
  height: 95vh;
}

.startButton {
  position: relative;
  left: 20vw;
  bottom: 10vh;
  height: 15vh;
  width: 15vw;
  border-radius: 10px;
  font-size: 70px;
  opacity: 0;
  z-index: 2;

  transition: ease-in-out 0.3s;
  animation: 1s ease-in 0.5s forwards appear;
}

.startButton:hover {
  cursor: pointer;
  scale: 1.2;
}

.chibi {
  position: relative;
  top: 5vw;
  height: 80vh;

  animation: 0.5s ease-in forwards come;
}

.introductionText {
  letter-spacing: 0.05em;
  margin: 0px;
  margin-bottom: 2vh;
  color: white;
  opacity: 0;

  animation: 1s ease-in 0.5s forwards appear;
}

.introduction {
  position: absolute;
  top: 23vh;
  left: 15vw;
  font-size: 25px;
  z-index: 2;
  width: 30vw;
  line-height: 4vh;

  transition: ease-in-out 0.3s;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}

.rotate {
  animation: 1s ease-in-out rotate;
}

@keyframes rotate {
  from {
    opacity: 1;
  }
  to {
    transform: rotate(600deg);
    opacity: 0;
  }
}

.disapear {
  animation: 1s linear disapear;
}

@keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leave {
  animation: 1.4s ease-in-out leave;
}

@keyframes leave {
  from {
    left: 40vw;
  }
  to {
    left: 100vw;
  }
}

@keyframes come {
  from {
    left: 100vw;
  }
  to {
    left: 40vw;
  }
}

@media screen and (min-width: 1400px) {
  .chibi {
    top: 30vh;
    height: 58vh;
  }

  .startButton {
    top: 15vh;
  }
}

@media screen and (max-width: 1024px) {
  .startButton {
    font-size: 40px;
    height: 13vh;
    width: 15vh;

    top: 40vh;
  }

  .chibi {
    height: 40vh;
    top: 50vh;
  }

  .introductionText {
    font-size: 20px;
  }

  .introduction {
    display: flex;
    text-align: center;
    width: 65vw;
  }
}

@media screen and (max-width: 600px) {
  .startButton {
    top: 70vh;
    left: 30vw;
    width: 40vw;
  }

  .chibi {
    display: none;
  }

  .introduction {
    align-content: center;
  }

  .introductionText {
    font-size: 40px;
    
  }
}
