.welcome {
  box-sizing: border-box;
  background-color: black;
  height: 100vh;
}

.chibi {
  position: relative;
  top: 5vw;
  height: 80vh;

  animation: 0.5s ease-in forwards come;
}

.introductionText {
  letter-spacing: 0.05em;
  margin: 0px;
  margin-bottom: 2vh;
  color: white;
  opacity: 0;

  animation: 1s ease-in 0.5s forwards appear;
}

.introduction {
  position: absolute;
  top: 23vh;
  left: 15vw;
  font-size: 25px;
  z-index: 2;
  width: 30vw;
  line-height: 4vh;

  transition: ease-in-out 0.3s;
}

.portal {
  height: 45vh;
  width: 40vh;
  position: relative;
  left: 20vw;
  top: 20vh;
  animation: 0.6s linear forwards portalAppear, 6s linear 0.6s infinite rotate;
  transition: ease-in-out 0.3s;
}

.portal:hover {
  scale: 1.2;
}

.portalScale {
  animation: 1s linear forwards portalScale;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}

.rotate {
  animation: 1s ease-in-out rotate;
}

@keyframes rotate {
  from {
    opacity: 1;
  }
  to {
    transform: rotate(720deg);
    opacity: 1;
  }
}

.disapear {
  animation: 0.3s linear disapear;
}

@keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes portalAppear {
  from{
    width: 0vh;
    height: 0vh;
    border-radius: 50%;
  }
  to {
    width: 1vh;
    height: 1vh;
    transform: rotate(180deg);
  }to {
    width: 35vh;
    height: 39vh;
    transform: rotate(360deg);
    cursor: pointer;
  }
}

@keyframes portalScale{
  from{
    left: 20vw;
    top: 20vh;
    scale: 1;
    rotate:(0deg);
    opacity: 1;
  }to{
    left: 40vw;
    top: 20vh;
    scale: 3;
    rotate:(360deg);
    opacity: 0;
  }
}

.leave {
  animation: 1.4s ease-in-out leave;
}

@keyframes leave {
  from {
    left: 40vw;
  }
  to {
    left: 100vw;
  }
}

@keyframes come {
  from {
    left: 100vw;
  }
  to {
    left: 40vw;
  }
}

@media screen and (min-width: 1400px) {
  .chibi {
    top: 30vh;
    height: 58vh;
  }

  .portal {
    height: 45vh;
    width: 40vh;
    left: 20vw;
    top: 30vh;
  }

  @keyframes come {
    from {
      left: 100vw;
    }
    to {
      left: 30vw;
    }
  }
}

@media screen and (max-width: 1400px) {
  .chibi {
    height: 40vh;
    top: 45vh;
  }

  .introductionText {
    font-size: 20px;
  }

  .introduction {
    display: flex;
    text-align: center;
    width: 65vw;
  }

  @keyframes portalAppear {
    from{
      width: 0vh;
      height: 0vh;
      border-radius: 50%;
    }
    to {
      width: 1vh;
      height: 1vh;
      transform: rotate(180deg);
    }to {
      left: 15vh;
      top: 45vh;
      width: 35vh;
      height: 40vh;
    }
  }

  @keyframes portalScale{
    from{
      left: 20vw;
      top: 20vh;
      scale: 1;
      rotate:(0deg);
      opacity: 1;
    }to{
      left: 10vw;
      top: 20vh;
      scale: 3;
      rotate:(360deg);
      opacity: 0;
    }
  }

  @keyframes come {
    from {
      left: 100vw;
    }
    to {
      left: 25vw;
    }
  }
}

@media screen and (max-width: 1024px) {

  .chibi {
    height: 30vh;
    top: 50vh;
  }

  .introductionText {
    font-size: 20px;
  }

  .introduction {
    display: flex;
    text-align: center;
    width: 65vw;
  }

  @keyframes portalAppear {
    from{
      width: 0vh;
      height: 0vh;
      border-radius: 50%;
    }
    to {
      width: 1vh;
      height: 1vh;
      transform: rotate(180deg);
    }to {
      left: 10vh;
      top: 50vh;
      width: 20vh;
      height: 25vh;
    }
  }

  @keyframes portalScale{
    from{
      left: 20vw;
      top: 20vh;
      scale: 1;
      rotate:(0deg);
      opacity: 1;
    }to{
      left: 10vw;
      top: 20vh;
      scale: 3;
      rotate:(360deg);
      opacity: 0;
    }
  }

  @keyframes come {
    from {
      left: 100vw;
    }
    to {
      left: 20vw;
    }
  }
}

.leave {
  display: none;
}

@media screen and (max-width: 600px) {
  .portal {
    left: 20vw;
    top: 60vh;
  }

  .chibi {
    display: none;
  }

  .introduction {
    align-content: center;
  }

  .introductionText {
    font-size: 40px;
    
  }

  @keyframes portalAppear {
    from{
      width: 0vh;
      height: 0vh;
      border-radius: 50%;
    }
    to {
      width: 1vh;
      height: 1vh;
      transform: rotate(180deg);
    }to {
      width: 20vh;
      height: 25vh;
    }
  }

  @keyframes portalScale{
    from{
      left: 20vw;
      top: 20vh;
      scale: 1;
      rotate:(0deg);
      opacity: 1;
    }to{
      left: 0vw;
      top: 30vh;
      scale: 3;
      rotate:(360deg);
      opacity: 0;
    }
  }
}
